html {
  padding: 0;
}
.box-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.box-content div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.box-content .box1 {
  color: red;
}
.box-content .box2 {
  color: yellow;
}
.box-content .box3 {
  color: blue;
  background: url("../img/background.png") no-repeat center;
}
